/* reset */
* {
  margin: 0;
  padding: 0;
}

#wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
 
}

label {
  cursor: pointer;
}
label:focus {
  outline: none;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(238, 237, 238);
  width: 240px;
  height: 100%;
  transform: translate3d(-240px, 0, 0);
  transition: transform 0.35s;
}
.menu label.menu-toggle {
  position: absolute;
  right: -60px;
  width: 60px;
  height: 60px;
  line-height: 0px;
  display: block;
  padding: 0;
  text-indent: -9999px;
  background: rgb(238, 237, 238) url(https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png) 50% 50%/25px 25px no-repeat;
}
.menu ul li > label {
  background: url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-right-b-128.png) 95% 50%/16px 16px no-repeat;
}
.menu ul li a, .menu ul li label {
  display: block;
  text-align: center;
  padding: 0 20px;
  line-height: 60px;
  text-decoration: none;
  color: black;
  width: auto;
  text-align: left;
}
.menu ul li a:hover, .menu ul li label:hover {
  color: #666;
}

/* hide inputs */
.menu-checkbox {
  display: none;
}

/* hide navigation icon for sublabels */
.menu .menu label.menu-toggle {
  background: none;
}

/* fade in checked menu */
.menu-checkbox:checked + .menu {
  transform: translate3d(0, 0, 0);
}

/* for show */
html, body {
  height: 100%;
}

body {
  
  background: linear-gradient(-45deg,white,whitesmoke,#b8c6d4,#ccffcc);
  background-size: 400%;
  animation: cahngement_de_couleur_gravitant_blanc 10s ease-in-out infinite;
}
@keyframes cahngement_de_couleur_gravitant_blanc {
  0%{
      background-position: 0 50%;
  }
  50%{
      background-position: 100% 50%;
  }
  100%{
      background-position: 0% 50%;
  }
}
p {
  margin-bottom: 15px;
}

#info {
  display: table;
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
}
#info #info-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
}
#info #info-content h1 {
  color: #fff;
  border: 3px solid #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  font-size: 22px;
  font-weight: normal;
  padding: 20px;
  margin: 10px;
  display: inline-block;
}
#info #info-content h1 strong {
  display: block;
  font-size: 26px;
}

/* pour le scroll bar */
a {
  display: inline-block;
  width: 50px;
  text-decoration: none;
}
nav, scroll-container {
  display: block;
  margin: 0 auto;
  text-align: center;
}
nav {
  width: 339px;
  padding: 5px;

}
scroll-container {
  display: block;
  width: 60%;
  height: 80%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background-color: none;
  
}
scroll-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1em;
  margin-left: 185px;

}

/**/


a {
  display: inline-block;
  width: 50px;
  text-decoration: none;
  

}
nav, scroll-container {
  display: block;
  margin: 0 auto;
  text-align: center;
  left: -110px;
  
}
nav {
  width: 90%;
  padding: 3px;
  
}
scroll-container {
  
  display: block;
width: auto;
  height:90vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  
 
}
scroll-page {
  display: flex;
  align-items: left;
  justify-content: left;
  height: auto;
  width: auto;
  font-size: 18px;

 
}

.boxbox{
  position: absolute;
 
  left: -0px;
  width: 17%;
  height: 101%;
  top: -1%;
  
 


}

.video_ .deux_titre {
  text-align: left;
  font-size: 15px;

}


.video_{
  position: absolute;
  top: 45px;
  height: 290px;
  
  width: 250px;
  left: -50px;
 
  
  text-align: left;

}
.video_2{
  position: absolute;
  top: 260px;
  height: 290px;

  width: 250px;
  left: -50px;
 
  
  text-align: left;

}
.video_3{
  position: absolute;
  top: 480px;
  height: 290px;
 
  width: 250px;
  left: -50px;
  
  text-align: left;

}
.video_4{
  position: absolute;
  top: 860px;
  height: 290px;
  
  width: 250px;
  left: -50px;
  
  text-align: left;

}
.boitee{
  
  position: block;

}

#page-1{
  text-align: left;
  font-size: 12px;
}
#page-2{
  text-align: left;
  font-size: 12px;
}
#page-3{
  text-align: left;
  font-size: 12px;
}
.info_sousvideo{
  position: relative;
  
  top: 10px;
  width: 80px;
  height: auto;
  text-align: left;
  border: none;
  text-decoration: none;
  font-size: 9px;

}
.catia3D{

  position: relative;
  top: 15%;
  text-align: center;
  right: -8%;
  
  height: 800px;
  width: 800px;
}
.catia{
  position: relative;
  width: 100%;

 
 
}

.boite_catia{
 
  position: relative;

height: 200px;
top: 50%;
left: 43%;
margin-left: -150px;
margin-top: -100px;
}
.desus{
 
  width: 450px;
}

.top_top{
  position: absolute;
  height: 200px;
top: 11%;
left: 20%;
margin-left: -150px;
margin-top: -100px;

}